.activity
  margin: $unit

.activity__title
  font-size: 1.8em

.activity__body
  font-size: 1em

.activity__stats
  margin-top: $unit
  font-size: 1em
  border: 2px dashed $border-color
  display: inline-block
  padding: $unit
  width: auto
  line-height: 1.3em

.activity__stats__heading
  text-align: left
  padding-right: $unit
