.activity
  margin: $unit

.activity__title
  font-size: 32px

.activity__body
  font-size: 18px

.activity__stats
  margin-top: $unit / 2
  font-size: 18px
  border: 2px dashed $border-color
  display: inline-block
  padding: $unit / 2
  width: auto
  line-height: 1.3em

.activity__stats__heading
  text-align: left
  padding-right: $unit / 2
