<div class="activity__graph__altitude"></div>
<div class="activity__graph__velocity"></div>

<script type="text/javascript">
  window.streamData = <%= activity_presenter.streams_json.html_safe %>;
</script>

