<% if flash[:notice].present? %>
  <div data-alert class='alert-box success radius'>
    <%= flash[:notice] %>
    <a href="#" class="close">&times;</a>
  </div>
<% elsif flash[:alert].present? %>
  <div data-alert class='alert-box alert radius'>
    <%= flash[:alert] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

